<div class="wrap">
  <%- partial('../layout/common/navbar_top.ejs') %><!-- navbartop layout-->
  <%- partial('../layout/common/sidebar.ejs') %><!-- sidebar layout-->
  <div class="content_view">
    <ul class="breadcrumb"><li><a href="/dashboard?auth=<%= auth %>">Dashboard</a></li>
      <li><a href="/module/init?auth=<%= auth %>">Module</a></li>
    </ul>
    <h1 style="margin-top: 0;">
      Modules
      <small>create modules</small>
    </h1>
    <div class="col-md-10 col-md-offset-1 well formpackage" ng-controller="moduleFormController">
      <div class="row">
        <form name="createmodules" id="createmodules">
          <div class="col-md-12">
            <div class="form-group">
              <label>Module Name</label>
              <input type="text" id="m_name" name="m_name" class="form-control" placeholder="Enter Module Name Here..">
              <div class="help-block"></div>
            </div>
            <div class="form-group">
              <label>Module Description</label>
              <div text-angular  ng-model="data.moduleDes" ng-cloak></div>
              <div class="help-block"></div>
            </div>
            <div class="form-group col-md-12">
              <div id="psucsees_msg">
              </div>
              <div class="col-md-12 hide" id="moduleDesData" ng-bind-html="data.moduleDes"></div>
          </div>
            <button type="button" id="createmodule" class="btn btn-primary">Create Module</button>
          </div>
          <input type='hidden' name='_csrf' id="_csrf" value='<%= _csrf %>'>
        </form>
        <%- partial('../layout/common/loader.ejs') %>
      </div>
    </div>
  </div>
</div>


<%- partial('../layout/common/footer.ejs') %><!-- footer layout-->

<% block('localScripts', '<script src="../js/fontend/addmodule.js"></script>') %>
