<div class="wrap">
  <%- partial('../layout/common/navbar_top.ejs') %><!-- navbartop layout-->
  <%- partial('../layout/common/sidebar.ejs') %><!-- sidebar layout-->

  <div class="content_view">
    <h1 style="margin-top: 0;">
      Prize Configuration
    </h1>
    <p>
       <a class="btn btn-success" href="/prize_conf/add_new?auth=<%= auth %>">Create Prize Config</a>
    </p>
    <div class="col-md-12 formpackage">
      <table id="packagetable" class="table table-bordered table-striped">
        <thead>
        <th>Id</th>
        <th>Prize Name</th>
        <th>Curriculum</th>
        <th>Grade</th>
        <th>Subject</th>
        <th>Prize Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Status</th>
        <th>Edit / Delete</th>
        </thead>
          <tbody id="prize_conf_table">
          </tbody>
      </table>
<p>

</p><div class="col-md-8 col-md-offset-4">
        <ul class="sync-pagination pagination-sm"></ul>
      </div>

    </div>
  </div>
   <input type='hidden' name='_csrf' value='<%= _csrf %>'>
</div>




<%- partial('../layout/common/footer.ejs') %><!-- footer layout-->
<% block('localScripts', '<script src="../../js/fontend/prize_lib.js"></script>') %>
