<div class="wrap">
  <%- partial('../layout/common/navbar_top.ejs') %><!-- navbartop layout-->
  <%- partial('../layout/common/sidebar.ejs') %><!-- sidebar layout-->
  <div class="content_view">
    <ul class="breadcrumb"><li><a href="/dashboard?auth=<%= auth %>">Dashboard</a></li>
      <li><a href="/unit/init?auth=<%= auth %>">Unit</a></li>
    </ul>
    <h1 style="margin-top: 0;">
      Unit
      <small>create units</small>
    </h1>
    <div class="col-md-10 col-md-offset-1 well formpackage">
      <form name="createunits" id="createunits"  ng-controller="unitFormController">
        <div class="form-group col-md-12">
          <label>Module</label>
          <select id="m_type" name="m_type" class="form-control">
            <option value="">Select Module</option>
            <% for(var i = 0; i < module.length; i++) { %>
            <option value=<%= module[i].module_id  %>><%= module[i].name %></option>
            <% } %>
          </select>
          <div class="help-block"></div>
        </div>
        <div class="form-group col-md-12">
          <label>Unit Name</label>
          <input type="text" id="u_name" name="u_name" class="form-control" placeholder="Enter Unit Name Here..">
          </select>
          <div class="help-block"></div>
        </div>
        <!--<div class="tab-content">
        <div class="form-group col-md-12">
          <label>Unit Description</label>
          <div text-angular  ng-model="data.unitDes"></div>
          <div class="help-block"></div>
        </div>
        <div class="form-group col-md-12">
          <label>Faq</label>
          <div text-angular  ng-model="data.unitFaq"></div>
          <div class="help-block"></div>
        </div>
        <div class="form-group col-md-12">
          <label>Glossary</label>
          <div text-angular  ng-model="data.unitGlossery"></div>
          <div class="help-block"></div>
        </div>
        <div class="form-group col-md-12">
        </div>
      <div id="psucsees_msg">
      </div>
          <div class="col-md-12 hide" id="unitDesData" ng-bind-html="data.unitDes"></div>
          <div class="col-md-12 hide" id="unitFaqData" ng-bind-html="data.unitFaq"></div>
          <div class="col-md-12 hide" id="unitGlosseryData" ng-bind-html="data.unitGlossery"></div>
      <button type="button" id="createunit" class="btn btn-primary">Create Unit</button>
      </div>-->
        <div class="form-group col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Unit Description</a></li>
           <!-- <li><a data-toggle="tab" href="#menu1">Unit Faq</a></li>
            <li><a data-toggle="tab" href="#menu2">Unit Glossary</a></li>-->
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div text-angular  ng-model="data.unitDes" ng-cloak></div>
                <div class="help-block"></div>
              </div>
           <!-- <div id="menu1" class="tab-pane fade" ng-controller="addUnitFaq">
              <div class="col-md-12" id="multiQuesAnswers">
                <div id="answers"  class="multipleChoice answers col-md-4" >
                  <div class="form-group">
                    <label for="question" class="answers"><i class="fa fa-th-list" aria-hidden="true"></i> Faq Question</label>
                  </div>
                  <div class="input-group col-md-12">
                    <div ng-repeat="choice in choices" class="input-group multipleChoiceSingle">
                      <textarea class="form-control" rows="5" id="comment" placeholder="Question"  ng-model="choice.f_question"></textarea>
                      <div class="input-group-addon delete_item" ng-click="removeChoice()"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <button class="btn btn-primary add_answer" ng-click="addNewChoice()"><i class="fa fa-plus" aria-hidden="true"></i>Add fields</button>
                </div>
                <div id="canswers" class="multipleChoice canswers col-md-8" >
                  <div class="form-group">
                    <label for="question" class="answers"><i class="fa fa-th-list" aria-hidden="true"></i> Faq Answer</label>
                  </div>
                  <div class="input-group  col-md-12">
                    <textarea class="form-control"  style="margin-bottom: 5px" rows="5" id="comment" placeholder="Answer"  ng-repeat="choice in choices" ng-model="choice.f_answer"></textarea>
                  </div>
                </div>
              </div>
              <div  id="faq_data" class="hide">{{choices}}</div>
            </div>
            <div id="menu2" class="tab-pane fade" ng-controller="addUnitGlossary">
              <div class="col-md-12" id="multiQuesAnswers">
                <div id="answers"  class="multipleChoice answers col-md-4" >
                  <div class="form-group">
                    <label for="question" class="answers"><i class="fa fa-th-list" aria-hidden="true"></i> Glossary Header</label>
                  </div>
                  <div class="input-group col-md-12">
                    <div ng-repeat="choice in choices" class="input-group multipleChoiceSingle">
                      <textarea class="form-control" rows="5" id="comment" placeholder="Header"  ng-model="choice.g_header"></textarea>
                      <div class="input-group-addon delete_item" ng-click="removeChoice()"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </div>
                  </div>
                  <button class="btn btn-primary add_answer" ng-click="addNewChoice()"><i class="fa fa-plus" aria-hidden="true"></i>Add fields</button>
                </div>
                <div id="canswers" class="multipleChoice canswers col-md-8" >
                  <div class="form-group">
                    <label for="question" class="answers"><i class="fa fa-th-list" aria-hidden="true"></i> Glossary Description</label>
                  </div>
                  <div class="input-group  col-md-12">
                    <textarea class="form-control"  style="margin-bottom: 5px" rows="5" id="comment" placeholder="Description"  ng-repeat="choice in choices" ng-model="choice.g_description"></textarea>
                  </div>
                </div>
              </div>
              <div id="glossary_data" class="hide">{{choices}}</div>
            </div>-->
          </div>
          <div id="psucsees_msg">
          </div>
          <div class="col-md-12 hide" id="unitDesData" ng-bind-html="data.unitDes"></div>
          <button type="button" id="createunit" class="btn btn-primary">Create Unit</button>
        </div>
        <input type='hidden' name='_csrf' value='<%= _csrf %>'>
    </form>
      <%- partial('../layout/common/loader.ejs') %>
  </div>
    </div>
  </div>
</div>


<%- partial('../layout/common/footer.ejs') %><!-- footer layout-->

<% block('localScripts', '<script src="../js/fontend/addunit.js"></script>') %>
