<div class="wrap">
  <%- partial('../layout/common/navbar_top.ejs') %><!-- navbartop layout-->
  <%- partial('../layout/common/sidebar.ejs') %><!-- sidebar layout-->
  <div class="content_view" ng-controller="unitEditFormController">
    <h1 style="margin-top: 0;">
      Unit Faq Details
    </h1>
    <p>
      <a class="btn btn-success" href="/unit/faq?auth=<%= auth %>">Create FAQ</a>
    </p>
    <div class="col-md-12 formpackage">

      <table id="packagetable" class="table table-bordered table-striped">

        <thead>
        <th>Unit Name</th>
        <th>FAQ Header</th>
        <th>FAQ Description</th>
        <th>Created At</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody id="unit_faq_data">

        </tbody>

        </table>

      <div class="col-md-8 col-md-offset-4">
        <ul class="sync-pagination pagination-sm unit_faq_data"></ul>
      </div>

    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         id="unitEditModel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Edit Unit</h4>
          </div>
          <div class="modal-body col-md-12">
            <form name="editUnit" id="editUnit">
              <div class="form-group col-md-12">
                <label>Unit Name</label>
                <input type="text" id="u_name" name="u_name" class="form-control" placeholder="Enter Unit Name Here..">
                </select>
                <div class="help-block"></div>
              </div>


              <div class="form-group col-md-12">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Unit Description</a></li>
                  <li><a data-toggle="tab" href="#menu1">Unit Faq</a></li>
                  <li><a data-toggle="tab" href="#menu2">Unit Glossary</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    <div text-angular="text-angular" name="htmlcontentdes" ng-model="htmlcontentdes"
                         ta-disabled='disabled'></div>
                    <div class="help-block"></div>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                    <div text-angular="text-angular" name="htmlcontentfq" ng-model="htmlcontentfq"
                         ta-disabled='disabled'></div>
                    <div class="help-block"></div>
                  </div>
                  <div id="menu2" class="tab-pane fade">
                    <div text-angular="text-angular" name="htmlcontengl" ng-model="htmlcontentgl"
                         ta-disabled='disabled'></div>
                    <div class="help-block"></div>
                  </div>
                </div>
              </div>

              <input type="hidden" id="unit_id" name="unit_id">
              <div class="col-md-12 hide" id="unitDesData" ng-model="description" ng-bind-html="htmlcontentdes"></div>
              <div class="col-md-12 hide" id="unitFaqData" ng-model="description1" ng-bind-html="htmlcontentfq"></div>
              <div class="col-md-12 hide" id="unitGlossData" ng-model="description2" ng-bind-html="htmlcontentgl"></div>
              <input type='hidden' name='_csrf' id="_csrf" value='<%= _csrf %>'>
            </form>
            <%- partial('../layout/common/loader.ejs') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="ueditconfirm">Update Unit</button>
            <button type="button" class="btn btn-secondary" id="ueditcancel" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
<%- partial('../layout/common/footer.ejs') %><!-- footer layout-->
<% block('localScripts', '<script src="../../js/fontend/unit_faq_view.js"></script>') %>
