<div class="wrap">
  <%- partial('../layout/common/navbar_top.ejs') %><!-- navbartop layout-->
  <%- partial('../layout/common/sidebar.ejs') %><!-- sidebar layout-->
  <div class="content_view" id="allusers">

    <h1 style="margin-top: 0;">
      Users
      <small>confirm admin staff</small>


    </h1>

    <ul class="nav nav-tabs" id="product-table">
      <li><a href="#1" data-toggle="tab" data-url="/usersauth?auth=<%= auth %>">New Users</a></li>
      <li><a href="#2" data-toggle="tab" data-url="/usersauth?auth=<%= auth %>">Current Admin Users</a></li>
      <li><a href="#3" data-toggle="tab" data-url="/usersauth?auth=<%= auth %>">Current Tutor Users</a></li>
      <li><a href="#4" data-toggle="tab" data-url="/usersauth?auth=<%= auth %>">Current System Users</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="1">
        <% if(msg){ %>
        <table id="usertable" class="table table-bordered table-striped">
          <thead>
          <th>Email</th>
          <th>User Type</th>
          <th>Confirm</th>
          </thead>
          <tbody>
          <% users.forEach(function(users){ %>
          <tr>

            <td><%= users.email %></td>
            <% if(users.type == 1){ %>
            <td>Admin</td>
            <% } %>
            <% if(users.type == 3){ %>
            <td>Tutor</td>
            <% } %>
            <% if(users.type == 4){ %>
            <td>System User</td>
            <% } %>
            <td>
              <p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs ucaction" data-title="Edit" data-toggle="modal" id="<%= users.id %>"
                        name="<%= users.type %>" data-target="#edit"><span
                    class="glyphicon glyphicon-ok"></span></button>
              </p>
            </td>

          </tr>
          <% }); %>




          </tbody>

        </table>
        <% } %>
        <% if(!msg){ %>
        <div class="message col-md-5 col-md-offset-2">
          <h4>No User Activation</h4>
        </div>
        <% } %>
      </div>
      <div class="tab-pane" id="2">
        <% if(activeAdmin){ %>
        <table id="usertable" class="table table-bordered table-striped">
          <thead>
          <th>Email</th>
          <th>User Type</th>
          <th>Delete</th>
          </thead>
          <tbody>
          <% activeAdmin.forEach(function(activeAdmin){ %>
          <tr>
            <td data-value="<%=activeAdmin.id %>"class="hide"><%= activeAdmin.id %></td>
            <td data-value="<%=activeAdmin.email %>"><%= activeAdmin.email %></td>
            <% if(activeAdmin.type == 1){ %>
            <td>Admin</td>
            <% } %>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs auserdelete" style="margin-top: 1px;" data-title="delete" data-toggle="modal" id="<%=activeAdmin.id %>"
                        name="<%= activeAdmin.id %>" data-target="#delete"><span
                    class="glyphicon glyphicon-trash"></span></button>
              </p>

          </tr>
          <% }); %>




          </tbody>

        </table>
        <% } %>
        <% if(!activeAdmin){ %>
        <div class="message col-md-5 col-md-offset-2">
          <h4>No Current Admin</h4>
        </div>
        <% } %>
      </div>
      <div class="tab-pane" id="3">
        <% if(activeTutor){ %>
        <table id="usertable" class="table table-bordered table-striped">
          <thead>
          <th>Email</th>
          <th>Type</th>
          <th>Edit</th>
          <th>Delete</th>
          </thead>
          <tbody>
          <% activeTutor.forEach(function(activeTutor){ %>
          <tr>
            <td data-value="<%=activeTutor.id %>"class="hide"><%= activeTutor.id %></td>
            <td width="50%" data-value="<%=activeTutor.email %>"><%= activeTutor.email %></td>
            <% if(activeTutor.type == 3){ %>
            <td width="20%">Tutor</td>
            <% } %>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs tuseredit" style="margin-top: 1px;" data-title="Edit" data-toggle="modal"
                        name="<%= activeTutor.id %>" data-target="#edit"><span
                    class="glyphicon glyphicon-pencil"></span></button>
              </p>
            </td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs tuserdelete" style="margin-top: 1px;" data-title="Edit" data-toggle="modal"
                        name="<%= activeTutor.id %>" data-target="#delete"><span
                    class="glyphicon glyphicon-trash"></span></button>
              </p></td>


          </tr>
          <% }); %>
          </tbody>
        </table>
        <% } %>


        <% if(!activeTutor){ %>
        <div class="message col-md-5 col-md-offset-2">
          <h4>No Active Tutor</h4>
        </div>
        <% } %>

      </div>


      <div class="tab-pane" id="4">
        <% if(activeSysAdmin){ %>
        <table id="usertable" class="table table-bordered table-striped">
          <thead>
          <th>Email</th>
          <th>User Type</th>
          <th>Edit</th>
          <th>Delete</th>
          </thead>
          <tbody>
          <% activeSysAdmin.forEach(function(activeSysAdmin){ %>
          <tr>
            <td data-value="<%=activeSysAdmin.id %>"class="hide"><%= activeSysAdmin.id %></td>
            <td data-value="<%=activeSysAdmin.email %>"><%= activeSysAdmin.email %></td>
            <% if(activeSysAdmin.type == 4){ %>
            <td>System User</td>
            <% } %>
            <td><p data-placement="top" data-toggle="tooltip" title="Edit">
                <button class="btn btn-primary btn-xs useredit" style="margin-top: 1px;" data-title="Edit" data-toggle="modal"
                        name="<%= activeSysAdmin.id %>" data-target="#edit" data-ng-click="getUnitData($event)"><span
                    class="glyphicon glyphicon-pencil"></span></button>
              </p>
            </td>
            <td><p data-placement="top" data-toggle="tooltip" title="Delete">
                <button class="btn btn-danger btn-xs userdelete" style="margin-top: 1px;" data-title="Edit" data-toggle="modal"
                        name="<%= activeSysAdmin.id %>" data-target="#delete"><span
                    class="glyphicon glyphicon-trash"></span></button>
              </p></td>

          </tr>
          <% }); %>




          </tbody>

        </table>
        <% } %>
        <% if(!activeSysAdmin){ %>
        <div class="message col-md-5 col-md-offset-2">
          <h4>No Active System Admin</h4>
        </div>
        <% } %>
      </div>
    </div>



    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tutormodal" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Assign Tutor</h4>
          </div>
          <div class="modal-body col-md-12">
            <form name="tutorConfirm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group col-md-10"  >
                    <label>Section List</label>
                    <select id="sec_type" name="sec_type" class="form-control">
                      <option value="">Select Section</option>
                      <% if(msg){ %>
                      <% for(var i = 0; i < section.length; i++) { %>
                      <option value=<%= section[i].id %>><%= section[i].name %></option>
                      <% } %>
                      <% } %>
                    </select>

                    <div class="help-block"></div>
                  </div>
                  <div class="form-group col-md-10"  >
                    <label>Helpers</label>
                    <select class="form-control" id="h_type" name="h_type">
                      <option value="">Select Helpers last</option>
                      <% if(msg){ %>
                      <% for(var i = 0; i < helpers.length; i++) { %>
                      <option value=<%= helpers[i].id %>><%= helpers[i].name %></option>
                      <% } %>
                      <% } %>
                    </select>
                    <div class="help-block"></div>
                  </div>
                  <div class="form-group col-md-12" id="alertSt">
                  </div>
                  <input type="hidden" id="tu_id" name="tu_id">
                </div>
              </div>
              <input type='hidden' name='_csrf' value='<%= _csrf %>'>
            </form>
            <%- partial('../layout/common/loader.ejs') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="tutorconfirm">Confirm</button>
            <button type="button" class="btn btn-secondary" id="tutorcancel" data-dismiss="modal">Close</button>

          </div>

        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="tutorUserEditModel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myTutorEditLabel"></h4>
          </div>
          <div class="modal-body col-md-12">
            <form name="editTutorUser">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group col-md-10 editTutor" id="divsec_type">
                    <label>Section List<span class="glyphicon glyphicon-remove-circle" style="color:#286090"></span></label>
                    <select id="sece_type" name="sece_type" class="form-control" disabled>
                      <option value="">Select Helpers last</option>
                    </select>

                    <div class="help-block"></div>
                  </div>
                  <div class="form-group col-md-10 editTutor" id="divh_type">
                    <label>Helpers<span class="glyphicon glyphicon-remove-circle" style="color:#286090"></span></label>
                    <select class="form-control" id="he_type" name="he_type" disabled>
                      <option value="">Select Helpers last</option>
                    </select>
                    <div class="help-block"></div>
                  </div>
                  <div class="form-group col-md-12" id="alertSt">
                  </div>
                  <input type="hidden" id="edittu_id" name="edittu_id">
                </div>
              </div>
              <input type='hidden' name='_csrf' value='<%= _csrf %>'>
            </form>
            <%- partial('../layout/common/loader.ejs') %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="tuditconfirm">Update Tutor</button>
            <button type="button" class="btn btn-secondary" id="tueditcancel" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>



  </div>
</div>
</div>

<%- partial('../layout/common/footer.ejs') %>

<% block('localScripts', '<script src="js/fontend/userauth.js"></script>') %>
